.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background-color: #000;
  }
  
  .image {
    width: auto;
    height: auto
  }